.quick-view-button{
    display: none;
    position: absolute;
    top: 52%;
    right: 50%;
    transform: translate(50% ,50%);
    margin-bottom: 1px;

}

.quick-view-button:hover{
    display: block;
    color: aliceblue;
    background-color: #f9d005;
    transition-duration: 0.5s;

}


.each-product-container{
    position: relative;
}


.each-product-container:hover ~ .quick-view-button{
    display: block;
    margin-bottom: 15px;
    transition-duration: 0.5s;

}



@media only screen and (max-width:920px){
.quick-view-button{
    display: block;
    position: absolute;
    top: 52%;
    right: 50%;
    transform: translate(50% ,50%);
    margin-bottom: 1px;

}
}