.contact{
    display: block;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
   position: relative;
}


.map{
    background-color: rgba(0, 0, 0, 0.1); 
    height:500px; 
    box-shadow: 5px 5px 0px 0px rgba(0, 0,0,0.5);

}


.quickletter h2{
    color: aliceblue;
    margin-bottom: 50px;
}



.quickletter{
    margin-top:50px;
    color: aliceblue;
    height: fit-content;
    display: block;
    padding: 20px 0px 20px 20px; height: fit-content;
    background-color: rgba(0, 0, 0, 0.6); 
    max-width:800px;
    padding: 20px 0px 20px 20px;
}


.card-header{
    color: silver;
    font-size: 20px;
    font-weight: 700;
}

.quickletter input{ 
    display: block;
    color: aliceblue;
    padding-left: 5px;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.6); 
    height: 40px;
}


.quickletter textarea{
    background-color: rgba(0, 0, 0, 0.6); 
    max-height: 80px;
    padding-left: 5px;
    margin-top: 20px;
    display:block;
    color: aliceblue;

}


.quickletter input::placeholder{
   color:rgba(250, 250, 3, 0.5);
}

.quickletter textarea::placeholder{
    color:rgba(250, 250, 3, 0.5);
 }

.quickletter button{
    padding:  20px 20px 20px 20px;
    font-size: 20px;
    background-color:rgb(233, 222, 155); 
    border:none;
    margin-top: 30px;
 }
    
 .quickletter button:hover{
    padding:  20px 20px 20px 20px;
    font-size: 20px;
    color: silver;
    background-color:rgba(233, 222, 155,0.5); 
 }

.quickletter p{
    position:fixed;
    top: 5%;
    right:5%;
    color: grey;
    background-color:rgb(233, 222, 155); 
    padding: 20px 50px 20px 50px; 
    animation-name: notification;
    animation-duration: 2s;
}

@keyframes notification {
    from{display:block;}
    to{display: none;}
}

    



.enquiries{
    height: 200px;
    background-color: snow;
    padding-left: 20px;
    padding-top: 20px;
}




@media only screen and (max-width:767px) {

    .contact{ 
        width: 98%;
     
    }

    .quickletter{
        margin-top:50px; 
        height: fit-content;
        display: block;
        background-color: rgba(0, 0, 0, 0.6); 
        width:100%;
        padding: 20px 0px 20px 20px;
    }
}
