.header-container{
    margin-top: 6%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 70%;
}

.header-border{
    padding:10px 0px 10px   0px ; 
    border-top: 2px solid silver;
    border-bottom: 2px solid silver;
}

.header-container span{
    font-size: 25px;
    color: snow;
    text-align: center;
    font-weight: 500;
}

.header{
 border-top: 4px solid silver;
 border-bottom: 4px solid silver;
 height: fit-content;
 padding:50px 0px 50px 0px ; 
 align-items: center;
}

.header h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
    text-transform: uppercase;
       background-image: linear-gradient(
         -225deg,
           #d1d1d1 0%,
           grey 29%,
             darkgrey 67%,
           black 100%
       );
       background-size: auto auto;
       background-clip: border-box;
       background-size: 200% auto;
       color: #fff;
       background-clip: text;
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
       animation: textclip 5s linear infinite;
     }
     @keyframes textclip {
       to {
         background-position: 200% center;
       }
     }

.header span{
    font-size: 35px;
    color: snow;
    font-weight: 500;
}
    

@media only screen and (max-width:991px) {

  
.header h1{
    font-size: 70px;
}

    .header-container{
    width: 90%;
 }

}
.go-to-shop {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 50px; 
}


.go-to-shop a{
    
    text-align: center;
    font-size: 20px;
    padding:25px 45px 25px 45px ; 
    color: rgb(233, 222, 155); 
    background-color: rgba(233, 214, 12, 0.4); 
    font-weight: 600;
    text-align: center;
    text-decoration: none;
}
 

.go-to-shop a:hover{ 
    background-color: rgb(233, 222, 155); 
    color: rgba(0, 0, 0, 0.5); 
}

