.add-img-product-input{
    padding-top: 10px;
    /* padding: 100px 100px 100px 100px; */
}

.form-group-price-each{

    margin-right:20px;
    display: block;

}

.form-group-price-each input{
    width: 200px;

}

.form-group-price-each button{
    background-color: transparent;
    border: none;
}

.form-group-price-each button{
    position: relative;
  }

.add-product-input-group button[data-title]:hover::after, .form-group-price-each button[data-title]:hover::after {
    content: attr(data-title);
    position: absolute;
    top: -0%;
    margin-left: 20px;
    left: 0;
    z-index: 100;
    color: aliceblue;
    font-size: 13px;
    font-weight: 700;
    background-color: rgba(39, 56, 50, 0.787);
    width:max-content;
    padding: 10px 10px 10px 10px;
      border-radius:8px;
  }

  .upload-image-input-group button{
    background-color: transparent;
    border: none;
    position: relative;
  }

.upload-image-input-group button[data-title]:hover::after, .form-group-price-each button[data-title]:hover::after {
    content: attr(data-title);
    position: absolute;
    top: -0%;
    margin-left: 20px;
    left: 0;
    z-index: 100;
    color: aliceblue;
    font-size: 13px;
    font-weight: 700;
    background-color: rgba(39, 56, 50, 0.787);
    width:max-content;
    padding: 10px 10px 10px 10px;
    border-radius:8px;
  }



 .add-products-image-preview {
    height: fit-content;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
 }

 
 
 .dashboard-input-upload-larger-image,
 .dashboard-input-upload-smaller-image{
     position: relative;
     display: inline-block;
     overflow: hidden;
   }
  

 .dashboard-input-upload-larger-image
 input[type="checkbox"] {

display: none;}

  .dashboard-input-upload-smaller-image
  input[type="checkbox"] {
     position: absolute;
     bottom: 10px;
     display: none;
     left: 10px;
   }
 
 
 .add-products-image-preview{
    display: flex; 
    margin-bottom: 10px;
    border-radius: 8px;
 }


 .dashboard-input-upload-larger-image img{
    height: 280px;
    object-fit: contain;
    width: 550px;
    border-radius: 8px;
    margin-left: 10px;
    margin-bottom: 10px;
 }


 .dashboard-input-upload-smaller-image img{
    height: 120px;
    object-fit: cover;
    width: 130px;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
 }

 



 .dashboard-input-upload-larger-image  .dashboard-image--cover-info {
    position: absolute;
    top: 15px;
    left: 15px;
    font-weight: 800;
    background-color: transparent;
    border-radius: 8px;
    height: 30px;
    padding-left:  10px;
    padding-right:  10px;
    padding-bottom: 14px;
    /* display: none; */
    background-color: rgba(51, 57, 61, 0.413);
 
}


 .dashboard-input-upload-smaller-image  .dashboard-image--cover-info{
    position: absolute;
    height: 0%;
    width: 93%;
    bottom: -15px;
    left: 5px;
    font-weight: 800;
    font-size: 12px;
    background-color: transparent;
    padding: 10px 1px 10px 1px;
    border-radius: 8px;
    transition-duration: 0.4s;
    object-fit: contain;
    transition-timing-function: ease-in-out;
 }
 .dashboard-input-upload-larger-image  .dashboard-image--cover-info::before{
    content: 'This is your Cover Image';
 }

 .dashboard-input-upload-smaller-image  .dashboard-image--cover-info::before{
    content: 'Set as Cover Image';
 }

 

 .dashboard-input-upload-larger-image .dashboard-image--cover-info p{
    font-size: 14px;
    color: rgba(46, 112, 65, 0.904);
    padding: 20px 10px 20px 10px;
    font-weight: 800;}

    .dashboard-input-upload-smaller-image .dashboard-image--cover-info p{
        font-size: 14px;
        padding: 10px 0px 0px 0px;
        font-weight: 800;
    }

        
.dashboard-input-upload-smaller-image:hover .dashboard-image--cover-info{
    transition-duration: 0.8s;
    transition-timing-function: ease-in-out;
    display: block;
    bottom: 1.5px;
    left: 5px;
    height: 65%;
    background-color: rgba(51, 57, 61, 0.413);
 }

.dashboard-input-upload-smaller-image img:hover ~ .dashboard-image--cover-info{
    display: block;
    transition-duration: 0.8s;
    transition-timing-function: ease-in-out;
    bottom: 1.5px;
    left: 5px;
    height: 65%;
    background-color: rgba(51, 57, 61, 0.413);
 }



.dashboard-input-upload-larger-image .dashboard-delete-one-uploded-image{
    display: none;
}

 .dashboard-input-upload-smaller-image .dashboard-delete-one-uploded-image{
    position: absolute;
    top: -45px;
    left: 15px;
    font-weight: 800;
    background-color: transparent;
    border-radius: 8px;
    height: 30px;
    padding-left:  10px;
    padding-right:  10px;
    padding-bottom: 14px;
    /* display: none; */
    background-color: rgba(51, 57, 61, 0.413);
 
}
 .dashboard-input-upload-smaller-image:hover .dashboard-delete-one-uploded-image{
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    display: block;
    top: -4.5px;
    left: 5px;
    height: 24%;
    padding-top: 10px;
    width: 95%;
    background-color: rgba(247, 66, 26, 0.589);
 }

.dashboard-input-upload-smaller-image img:hover ~ .dashboard-delete-one-uploded-image{
    display: block;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    top: -1.5px;
    left:5px;
    width: 95%;
    height: 24%;
    padding-top: 10px;
    background-color: rgba(247, 66, 26, 0.589);
 }





 .dashboard-upload-more-images{
    padding: 0px 27px 0px;
    border-radius: 8px;
    margin-left: 5px;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    background-color: rgba(240, 248, 255, 0.162);
    cursor: pointer;
 } 
 .dashboard-upload-more-images:hover{
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    background-color: rgba(240, 248, 255, 0.362);
 }
 .dashboard-upload-more-images i{
    font-size: 80px;

 }


 .clear-uploaded-images-button{
    height: 125px;
    padding:0px 34px 0px;
    border-radius: 8px;
    margin-left: 5px;
    border:none;
    font-size: 15px;
    font-weight:800;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    background-color: rgba(247, 66, 26, 0.589)!important;
 }

 .clear-uploaded-images-button:hover{
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    background-color: rgba(247, 66, 26, 0.191);
 }

 .form-group-price-type{
   display: flex;
 }

 /* .product-preview-image-swiper-container SwiperSlide{
   height: 700px;
   width: 100%;
 } */



 .add-product-preview-container{
      width: 100%;
      padding: 20px 20px 20px 20px;
 }
 .add-product-preview-container h5{
   font-weight: 700;
 }


 .add-product-preview-container p{
   margin-top: 15px;  
}
.image-swiper-container.add-product-image-preview-modal{
   width: 100%;
}

.add-product-image-preview-modal.mySwiper2{
   height: 300px;
   width: 100% !important;}

   
.add-product-image-preview-modal.mySwiper2 img{
   height: 300px;
   width: 100% !important;
   object-fit: contain;   
}