

.message-table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    /* background-color: rgba(0, 0, 0, 0.8); */
 
}

.message-table-container{ 
        width: fit-content;
        padding: 50px 80px 50px 80px !important;
        background-color: rgba(0, 0, 0, 0.8);
     
}

th{
    color: #b298dc;
}


td{

        color: aliceblue;
        padding: 10px;
        overflow: hidden;
        white-space: nowrap;
        width: 50px;
      }



.info-modal{
    background-color: rgba(197, 207, 25, 0.8);
    max-width: 70%;
}
