.preloader{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0%;
    right:0%;
    text-align: center;
    background-color: rgba(233, 222, 155,0.4); 
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-name: preloader;
}
@keyframes preloader {
    from{background-color: rgba(233, 222, 155,0.4);}
    to{background-color: rgba(233, 222, 155,0);}
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  
  #canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  