.preloader{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0%;
    right:0%;
    text-align: center;
    background-color: rgba(233, 222, 155,0.4); 
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-name: preloader;
}
@keyframes preloader {
    from{background-color: rgba(233, 222, 155,0.4);}
    to{background-color: rgba(233, 222, 155,0);}
}

.preloader h3{

    background-color: silver;
color: rgb(22, 7, 7);
margin-top: 20%;
width: fit-content;
padding:  40px 20px 40px ;
border-radius: 10px;
margin-left: auto;
margin-right: auto;
}