.navbar{
  background: linear-gradient( 160deg, rgba(255, 255, 255, 0.13) 20%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.05) 80%, rgba(255, 255, 255, 0.3) 100% );
}


.navbar-brand img {
  height: 80px;
  width:  50px;
  animation: brand-logo-rotation 3s linear;
  }
  
  @keyframes brand-logo-rotation {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  } 
  

.navbar-brand-logo:hover ~ .navbar-brand-p {
  width: 100px;
  transition-duration: 1.5s;
}



.navbar-brand p{
  margin-top: 15px;
  transition-duration: 0.5s;
  background-color: transparent;
  height: 30px;
  width: 0px;
  overflow: hidden;
  flex-wrap: nowrap;
  animation-name: navbar-brand-name;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-timing-function: ease-in;
}


@keyframes navbar-brand-name{
  0% { width: 0px;}
  75% {width: 100px; }
  100% {width: 0px; }

}



.navbar-togglericons img{
  height: 30px;
  width:35px;
}


.navbar-togglericons img:hover{
  animation-name: hamburger-shake;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
}


 @keyframes hamburger-shake{
from{transform: rotate(10deg);}
to{ transform: rotate(-10deg);}

}


.navbar-offcanvas{
  background: linear-gradient( 160deg, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.5) 65%, rgba(0, 0, 0, 0.8) 100% );
  display: block;
  animation-name: offcanvas-slide;
  animation-duration: 2s !important;
  animation-timing-function: ease-in-out !important;
  animation-play-state: running;
  animation-iteration-count: initial;
  animation-fill-mode: forwards;
}

@keyframes offcanvas-slide {
  from{width: 0px;}
  to{width: 250px;}
}


.nav-item:hover{

  transition-duration:0.5s;
  transition-timing-function: ease-out;
  letter-spacing: 1.5px;

}

.profile-section{
 justify-content: center;
 text-align: center;
 color: black;
}



.profile-section i{
  color: black;
  font-size: 15px;
 }
 


.profile-section p{
 color: black;
 font-size: 15px;
}
.profile-section p:hover{
transition-duration:0.5s;
transition-timing-function: ease-out;
letter-spacing: 0.5px;
}

.offcanvas-footer{
  margin-top: 70%;
}
