.nav-container{
    padding-top: 5%;
}

.mobile-navbar{
    display: none !important;
}



.navbar{
    align-items: center;
    width: 100%;
    justify-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 10px 10px 10px 10px;
    height: 100px;
    display: flex;
}


.navbar-nav{
    margin-left: auto;
    margin-right: auto;
    width:40%;
    font-weight: 800;
    display: flex;
    text-align: center; 
    align-items: center;
    margin-right: auto;
    margin-top: -1px;
    justify-content: space-around;
   }


.navbar-nav li{
    text-align: center;
    padding-right: 20px;
     border-right: 2px solid silver;
    list-style-type: none;
}
 


   .navbar-nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

 

.navbar-nav a:hover{
    text-decoration: none;
    color: rgb(233, 222, 155);
}

.profile-tab i{
    color: rgb(233, 222, 155);
    font-size: 25px;

}

.socials a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-left: 15px;
}



 

.socials a:hover{
    text-decoration: none;
    color: rgb(233, 222, 155);
}

.profile-tab a{
    margin-top: 10px;
    color: rgb(233, 222, 155);
}

.offcanvas-body{
    background-color: rgba(0, 0, 0, 0.5); 

}
.offcanvas-header{
    background-color: rgba(0, 0, 0, 0.5); 

}

@media only screen and (max-width:991px) {


    .desktop-navbar{
        display: none !important;
}

    .mobile-navbar{
     display: block !important;
     background-color: rgba(0, 0, 0, 0.5); 
   }

  .navbar-nav li{
    text-align: center;
     border: none !important;
}
 
.profile-tab a{
    color: rgb(233, 222, 155) !important;
}
    
}


.wrapper-menu {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 330ms ease-out;
  }
  
 
  
  .line-menu {
    background-color: rgb(233, 222, 155);
    border-radius: 5px;
    width: 100%;
    height: 6px;
  }

  .navbar-toggler:active{border:none;}
  
  .line-menu.half {
    width: 50%;
  }

  .cart-canvas{
    overflow:scroll;
    overflow-x: scroll !important;

  }

  
  .cart-canvas-header{
    background-color: rgb(233, 222, 155);
  }

  .cart-canvas-body{
    height: 150px !important;
    background-color: white;
    overflow-x: scroll !important;
  }





  
  .profile-canvas{
    overflow:scroll;
    overflow-x: scroll !important;

  }

  
  .profile-canvas-header{
    background-color: rgb(233, 222, 155);
  }

  .profile-canvas-body{
    height: 150px !important;
    background-color: white;
    overflow-x: scroll !important;
  }