  .painting-preview-container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  justify-content: space-between;
  display: grid;    
  grid-template-columns: 1fr 1fr;
  grid-gap: 0% 10%;
  justify-items: end; 
  padding-top: 50px;
  
  }

  .painting-preview {
  position: relative;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;    
  width: 100%;
  overflow: hidden;
  margin-top: 100px;
  height: 350px;
  text-align: left;
  position: relative;
  background-size: 120% 120%;
  background-repeat: no-repeat;
  background-position: center;
  backface-visibility: visible;
  display: block;
  transition-duration: 1.5s;
  transition-timing-function: ease-in-out;
  }
  
  .painting-preview:hover{
  scale:1.1;
  background-size: 200% 200%;
  transition-duration: 5s; 
  transition-property: all;
  transition-timing-function: ease-in-out;
 
  }

  .animate:first-child {
    transform: translateX(-150%);
    opacity: 0;
  }
 .animate:last-child {
    transform: translateX(150%);
    opacity: 0;
  }
  
  .slide-in {
    transform: translateX(0) !important;
    opacity: 1 !important;
  }


  a{text-decoration: none;}

  .preview-details{
  height: 100%;
  width: 100%;
  background: linear-gradient( 180deg, rgba(0, 0, 0, 0.05) 10%, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0.7) 60%, rgba(0, 0, 0, 0.9) 100% );
  bottom: -78%; 
  position: absolute;
  transition-duration: 0.5s;
  transition-property: all;
  transition-timing-function: ease-in-out;
  }

  .painting-preview:hover .preview-details{
  transition-duration: 0.8s;
  transition-property: all;
  transition-timing-function: ease-in-out;
  bottom: -15%; 

  }


  .painting-preview h2{
  color:aliceblue;
  text-align: left;
  font-size: 30px;
  padding-left: 10px;
  transition-duration: 0.8s;
  transition-property: all;
  transition-timing-function: ease-in-out;
  }

  .painting-preview:hover h2{
  color:rgb(240, 248, 255,0.5);
  transition-duration: 0.8s;
  transition-property: all;
  transition-timing-function: ease-in-out;
  }


  .painting-preview h4{
  margin-left: 15px;
  font-size: 18px;
  font-weight: 700;
  color: rgb(240, 248, 255,6);

  }

  .painting-preview:hover{
  color: rgb(240, 248, 255,0.6);

  }


  .painting-preview p{
  padding-top: 20px;
  width: 100%;
  font-size: 17px;
  padding: 10px 20px 10px 20px;
  color: rgb(240, 248, 255,0.7);
  }

  .painting-preview h5{
  text-align: end;
  color: rgb(240, 248, 255,0.9);
  padding-right: 10px;
  font-size: 14px;
  font-weight: 700;
  font-style: italic;
  }


  .cart-button{
  position: absolute;
  top: -25%;
  right: 3%;
  padding: 6px 6px 6px 6px ;
  border-radius: 8px;
  font-size: 15px;
  border: 2px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
  margin-left: 15px;
  }

  .cart-button i{
    font-size:15px;
  }

  .cart-button:hover{
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0.4);
  border: 2px solid aliceblue; 
  }

  .painting-preview:hover  .cart-button{
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;  
    top: 1%;
  }

  .view-button{
  padding: 6px 6px 6px 6px ;
  border-radius: 8px;
  font-size: 15px;
  border: 2px solid aliceblue;
  color: aliceblue;
  text-decoration: none;
  margin-left: 15px;
  }



  .view-button:hover{
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  color: rgb(0, 0, 0,0.5);
  background-color: rgb(240, 248, 255,0.4);
  border: none;

  }



  .popupp{
  position:fixed;
  top: 5%;
  right:5%;
  color: grey;
  background-color:rgb(233, 222, 155); 
  padding: 20px 50px 20px 50px; 
  animation-name: notification;
  animation-duration: 2s;
  }

  @media only screen and (max-width:991px) {

  .painting-preview {
  flex-basis: calc(85% - 20px);
  margin-top: 100px;
  }

  .painting-preview h2{
  font-size: 40px;
  }


  }



  @media only screen and (max-width:768px) {

  .painting-preview {
  flex-basis: calc(95% - 20px);
  margin-top: 100px;
  } 

  .painting-preview h2{
  font-size: 35px;
  }

  .cart-button{
  font-size: 15px;

  }

  .view-button{
  font-size: 15px;
  }



  }



  @media (min-width:760px) and (max-width:1100px) {

  .painting-preview-container {
  width: 97%;
  grid-gap: 0% 3%;
  }
  }

  @media only screen and (max-width:480px) {

  .painting-preview h2{
  font-size: 30px;
  }
  }











  @media screen and (max-width: 760px) {
  .shop-items-container  {

  grid-template-columns: 1fr;
  justify-items: center;
  }

  }
