@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@tailwind base;
@tailwind components;
@tailwind utilities;



html, body {
  margin: 0px;
  padding: 0px;
}

i{
  color: #b3cf11;  
  background: linear-gradient(
    -225deg,
      #fafe24 0%,
      rgb(167, 213, 15) 29%,
        rgb(88, 101, 25) 80%,
      rgb(255, 255, 255) 90%
  );
  background-position: auto auto;
  background-size: auto auto;
  background-clip: text;
  font-weight: 600;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear reverse;
}

i:hover{
  color: #8b9264;  
  background: linear-gradient(
    -225deg,
    rgb(255, 255, 255) 0%      
        rgb(88, 101, 25) 29%,
        rgb(167, 213, 15) 80%,
        #fafe24 90%,
      
  );
  background-position: auto auto;
  background-size: auto auto;
  background-clip: text;
  font-weight: 600;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 1s;
  transition-timing-function: ease-in-out;
}



/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f15f;
  border-radius: 6px;

}

::-webkit-scrollbar-thumb {
  background:  rgba(62, 78, 10, 0.5);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background:  rgba(49, 63, 1, 0.716);
      
}

/* For Firefox */
* {
  scrollbar-width: thin;
}

*::-webkit-scrollbar-track {
  background: #f1f1f15f;
}

*::-webkit-scrollbar-thumb {
  background:    rgba(49, 63, 1, 0.716);
  border-radius: 6px;
}

*::-webkit-scrollbar-thumb:hover {
  background:   rgba(167, 213, 15,0.5);

}








.App{
  /* background-color: rgb(49, 44, 44); */
  /* background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/1400/1ea9cb174272965.649f070e5cf0d.jpg'); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: 'Alkatra', cursive;
  background-size: cover;
}

.errorpagemessage{
  font-size: 20px;
  padding:30px 45px 30px 45px ; 
 color: grey;
  background-color: rgb(233, 222, 155);
  position: absolute;
  top:45%;
  left: 45%;
}
.errorpagemessagecontainer{
  position:fixed;
  background-color: rgba(233, 222, 155,0.5);
  height: 100%;
  width: 100%;
}



.chatbox-container {
  font-size: 20px;
  padding:20px 30px 20px 30px ; 
 color: grey;
  background-color: rgb(233, 222, 155);
  position: fixed;
  bottom: 50px;
  right:50px
  
}

.chatbox-container:hover{
  color: rgb(233, 222, 155); 
  background-color: grey;
}


.chatbox{
  font-weight: 600;
 text-decoration: none;
}

.notification{
    position:fixed;
    top: 5%;
    right:5%;
    color: grey;
    background-color:rgb(233, 222, 155); 
    padding: 20px 50px 20px 50px; 
    animation-name: notification;
    animation-duration: 2s;
}

.painting-list-notification{
  position:fixed;
  top: 5%;
  left:5%;
  margin-left: auto;
  width:min-content;
  color: grey;
  background-color:rgb(233, 222, 155); 
  padding: 20px 50px 20px 50px; 
  animation-name: notification;
  animation-duration: 2s;
}


@media only screen and (max-width:991px) {
  .chatbox-container {
    font-size: 15px;
    padding:10px 20px 10px 20px ; 
    position: fixed;
    bottom: 20px;
    right:20px
    
  }
  
}