@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@tailwind base;
@tailwind components;
@tailwind utilities;



html, body {
  margin: 0px;
  padding: 0px;
}

.App{
  background-color: rgb(18, 18, 18);
  /* background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/1400/1ea9cb174272965.649f070e5cf0d.jpg'); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: 'Alkatra', cursive;
  background-size: cover;
  min-height: 100vh;
  scroll-behavior:smooth; 
  overscroll-behavior: none;
  overflow: hidden;
}

.errorpagemessage{
  font-size: 20px;
  padding:30px 45px 30px 45px ; 
 color: grey;
  background-color: rgb(233, 222, 155);
  position: absolute;
  top:45%;
  left: 45%;
}
.errorpagemessagecontainer{
  position:fixed;
  background-color: rgba(233, 222, 155,0.5);
  height: 100%;
  width: 100%;
}


.contents{
  min-height: 100vh;
}


.chatbox-container {
  font-size: 20px;
  padding:20px 30px 20px 30px ; 
 color: grey;
  background-color: rgb(233, 222, 155);
  position: fixed;
  bottom: 50px;
  right:50px
  
}

.chatbox-container:hover{
  color: rgb(233, 222, 155); 
  background-color: grey;
}


.chatbox{
  font-weight: 600;
 text-decoration: none;
}

.notification{
    position:fixed;
    top: 5%;
    right:5%;
    color: grey;
    background-color:rgb(233, 222, 155); 
    padding: 20px 50px 20px 50px; 
    animation-name: notification;
    animation-duration: 2s;
}

.painting-list-notification{
  position:fixed;
  top: 5%;
  left:5%;
  margin-left: auto;
  width:min-content;
  color: grey;
  background-color:rgb(233, 222, 155); 
  padding: 20px 50px 20px 50px; 
  animation-name: notification;
  animation-duration: 2s;
}


@media only screen and (max-width:991px) {
  .chatbox-container {
    font-size: 15px;
    padding:10px 20px 10px 20px ; 
    position: fixed;
    bottom: 20px;
    right:20px
    
  }
  
}