.product-details{
  position: relative;
}


.product-detail-container{
    margin-top: 5%;
    width: 95%;
    height: fit-content;
    padding: 30px 70px 30px 70px; 
    border-radius: 10px;
    margin-left: auto;
    display: block;
    margin-right: auto;

}

.backlinks a{
 margin-left: 10px;
 margin-right: 5px;
}


.prevbutton{
    background-color: transparent;
    border:none;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 55px;
    color:rgb(14, 15, 15); 

}

.product-detail{
    margin-top: 50px;
    display: flex;
    width: 100%;
    align-items: center;

}






.image-swiper-container{
  border-radius: 15px;
  width: 65%;
  display:block;
  height:fit-content;
}

.product-detail-container .swiper {
  width: 100%;
  height: 100%;
  display: block;
  
}

.product-detail-container .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: block;
  height: fit-content;
}


.product-detail-container .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
}



.product-detail-container .mySwiper2 {
  height: 500px;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.product-detail-image-each{
  object-fit: contain;
  object-position: center;
  display: block;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}



.product-detail-container .mySwiper {
  height: 80px;
  /* box-sizing: border-box;        */
}

.product-detail-container .mySwiper .swiper-slide {
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

.product-detail-container .mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}




.product-detail-container .buttons{ 
    width: 100%;
    /* margin-top: 20px; */
    /* margin-bottom: 30px; */
}

.product-detail-container .buttons button{
    margin-left: 20px;
    /* margin-top: 40px; */
}

.product-description h2{
  font-weight: 600;
}
  
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.product-description h5{
    color: #e2dbdb;
}


.product-description h4{
  color: #ede2e2;

}

.product-description-price {
  align-items: center;
  display: flex;
}

.product-description-price h3{
  margin-left: 15px;
    color: #eee6e6;
  text-decoration: line-through
}

.product-description span{
    font-size: 20px;
    color: #efecec;
    font-weight: 600;

}

.product-description-currency{

  align-items: center;
  display: flex;

}

  .quantity h6{

    color: #ebe7e7;
   font-weight: 700;
    font-size: 18;
  }

  
  .mobile-cart-button{
  
    display:none;
  }


.bottom-product-details{  
  margin-top: 5%;
  width: 95%;
  height: fit-content;
  padding: 30px 70px 30px 70px;
  /* box-shadow: inset 2px 2px 10px rgb(82, 79, 79), */
  /* inset -1px -1px 5px rgba(255, 255, 255, 0.3); */
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.bottom-product-details h3{ 
  background: linear-gradient(
    -225deg,
    rgb(179, 219, 5)0%,
    rgba(198, 220, 4, 0.64) 29%,
    rgba(215, 230, 6, 0.295)80%,
    rgba(207, 214, 4, 0.84)
  );
  background-position: auto auto;
  background-size: auto auto;
  background-clip: text;
  font-size: 24px;
  font-weight: 800;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear reverse;
}
  
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}  
  


.bottom-product-details-tab-content{ 
  font-weight: 700;
  padding: 30px 30px;
}
.bottom-product-details .nav.nav-tabs {
  border-color: rgba(255, 255, 0, 0.627);
  border-width: 3px;
}
 
.bottom-product-details .nav.nav-tabs h3{
  margin-top: -0px;
}


.product-description-tab div{
  word-wrap: break-word;
  color:white !important;
  overflow: visible;
}




                    /* ````````````    REVIEWS  ~~~~~ */

  
  .product-review-star-container{
    width:60%;
  }


 .user-info .bi-star-fill{
    color:yellow;
  }

.review_name {
  font-size: 18px;
  font-weight: 700;
  color: #f0f013d2;
 
} 

.review_image {
  width: 50px;
}

.review_text {
  font-size: 15px;
}
                    
.review-img img {
  border-radius: 50%;
}

.review_helpful {
  font-size: 13px;
}


.product-detail-container .btn.review-report {
  /* width: 150px; */
  /* color: #204d74; */
  font-weight: 500;
  background-color: transparent;
  border: 1px solid transparent;
}



.review_name {
  font-size: 18px;
  /* color: #bbd71b; */
  font-weight: 500;
}

.review_image {
  width: 50px;
}

.review_text {
  font-size: 15px;
}



.review_text {
  font-size: 15px;
}
.client_review span {
  font-size: 24px;
}

.page-item {
  background-color: red !important;
}

/* NEW CODE */

.client_review_star {
  align-items: center;
}

.client_review_star .progress_bar {
  height: 25px;
  border-radius: 16px;
  background-color: #b2c50f;  
  background: linear-gradient(
    -225deg,
    #c7c70b1a 0%,
    #a7c8055c 29%,
    #b9bf0ac4 80%,
    #c2c20afa 90%
  );
  background-position: auto auto;
  background-size: auto auto;
  animation: textclip 5s linear reverse;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}



.client_review_star .progress_bar {
  width: 100%;
}

.client_review_star i {
  
  color: rgb(185, 203, 22);
  font-size: 14px;
}

.star_text {
  font-size: 20px;
}




.rating-container {
  background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/concrete-texture.png");
  display: flex;
  flex-wrap: wrap;
  height: 30vh;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
}

.rating {
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  flex-direction: row-reverse;
  height: 130px;
  position: relative;
}

.rating-0 {
  filter: grayscale(100%);
}

.rating > input {
  display: none;
}

.rating > label {
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-top: auto;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 76%;
  transition: .3s;
}

.rating > input:checked ~ label,
.rating > input:checked ~ label ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}


.rating > input:not(:checked) ~ label:hover,
.rating > input:not(:checked) ~ label:hover ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.emoji-wrapper {
  width: 100%;
  text-align: center;
  height: 96px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.emoji-wrapper:before,
.emoji-wrapper:after{
  content: "";
  height: 15px;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 1;
}

.emoji-wrapper:before {
  top: 0;
}

.emoji-wrapper:after{
  bottom: 0;
}

.emoji {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: .3s;
}

.emoji > svg {
  margin: 15px 0; 
  width: 70px;
  height: 70px;
  flex-shrink: 0;
}

#rating-1:checked ~ .emoji-wrapper > .emoji { transform: translateY(-100px); }
#rating-2:checked ~ .emoji-wrapper > .emoji { transform: translateY(-200px); }
#rating-3:checked ~ .emoji-wrapper > .emoji { transform: translateY(-300px); }
#rating-4:checked ~ .emoji-wrapper > .emoji { transform: translateY(-400px); }
#rating-5:checked ~ .emoji-wrapper > .emoji { transform: translateY(-500px); }

.feedback {
  max-width: 100%;
  width: 100%;
  padding: 0px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 0 4px 30px rgba(0,0,0,.05);
}



 
.review-input {
  width: 290px;
  min-height: 45px;
  color: #fff;
  outline: none;
  transition: 0.35s;
  padding: 0px 7px;
}

.review-input::placeholder {
  color: #999;
}


.review-input:focus.review-input::placeholder {
  transition: 0.3s;
  opacity: 0;
}

.review-input:focus {
  transform: scale(1.05);
}

.review-input:-webkit-autofill,
.review-input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
.review-input[data-autocompleted] {
    background-color: transparent !important;
}

.review-input[password]:-webkit-autofill,
.review-input[password]:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
.review-input[data-autocompleted] {
    background-color: transparent !important;
}
.review-input-group{
  width:100% ;
  align-items: center;
}


.review-input-group label{

  font-weight: 800;

}


.review-input-group input{

  margin-left: 50px;
  margin-top: 30px;

}

.review-input-group textarea{
  min-height: 80px;
  margin-left: 10px;
  margin-top: 30px;

}


   /* ````````````    REVIEWS  ~~~~~ */










@media only screen and (max-width:991px) {

     
  .product-review-star-container{
    width:100%;
  }



    .product-detail-container{
        width: 98%;
        height: fit-content;
        padding: 25px 50px 25px 50px; 
    }

    .image-swiper-container{
        border-radius: 15px;
        width: 100%;
        display:block;
    }
    
    .product-detail-container .mySwiper {
        height: 80px;
      }
      
    
    .product-detail{
        margin-top: 50px;
        display: block;
        width: 100%;

    }


    .product-description{
        margin-top: 50px;
        width: 100%;
    }


}




@media only screen and (max-width:768px) {


    .product-detail-container{
        width: 100%;
        height: fit-content;
        padding: 0px; 
        padding-bottom: 50px;
    }

    .product-detail{
      width: 100%;
    }

  

      .product-detail-container .swiper-slide img {
        display: block;
        width: 100%;
        object-fit: contain;
        height: 100%;
      }
      
      
      
      .product-detail-container .mySwiper2 {
        height: 450px;
        object-fit: contain;
        width: 100%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
      }
      
          
      /* .product-add-to-cart-animation{
        height: 30px;
        width: 30px;
        display: none;
      } */

      .animationn-input:checked ~ img{
        position: fixed;
        top:2.5%;
        height: 30px;
        width: 30px;
        right:7%;
        display: block;
        transition-duration: 1s;
        transition-timing-function: ease-in-out;
      }

      /* .product-increament:active img{ */
        .product-add-to-cart-animation{
        position: relative;
        display: none;
      }




      .mobile-cart-button{
        box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.325);
        width: 100vw;  
        display: block;
        height:fit-content;
        position:fixed;
        bottom: 0%;
        left: 0;
        z-index: 5000;
        background-color: #ffffff;

      }

      .mobile-cart-button h4{
        font-size: 14px;
        font-weight: 700;
        color: rgb(30, 28, 28);  
      
      }

      .mobile-cart-button span{
        color: aliceblue;
      }


      .mobile-cart-button h2{
        font-size: 16px;
      color: black;  
      font-weight: 800;
    }


        
    .product-detail-container .btn-mobile{
      padding: 5px 15px;
      cursor: pointer;
      background-color: #c4d52e;
      border-radius: 6px;
      border: 2px solid #d3d311;
      box-shadow: 6px 6px 10px #777b0467,
      1px 1px 10px rgba(255, 255, 255, 0.6);
      color: #fff;
      font-size: 15px;
      font-weight: bold;
      transition: 0.35s;
    }
        


          
    .bottom-product-details{  
      margin-top: 5%;
      width: 100%;
      height: fit-content;
      padding: 0px;
      box-shadow: none;
       border-radius: 10px;
      margin-left: auto;
      margin-right: auto;

    }  

    .bottom-product-details .nav-tabs.nav{
      display: flex;
    }

    .bottom-product-details-tab-content{
      color: #1d1d1d;
      font-weight: 700;
      /* padding: 20px 20px; */
    }


    .bottom-product-details h3{
      font-size: 16px;
     }
      
      
    
  }